.back-container {
    position: relative;
}

.back-top {
    background-color: #ffba2f;
    height: 20vh;
}

.back-main {
    background-color: #0fbea7;
    height: 80vh;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border-radius: 10px;



}

.contacts {
    background-color: #2d2d2d;
    min-height: 600px;
    border-radius: 10px;
}

.contact-table-scroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
    height: 700px;
    background-color: #2d2d2d;

    /* background-image: url("https://wallpaperscart.com/whatsapp-wallpapers-backgrounds/"); */
    background-image: url("https://www.wallpapertip.com/wmimgs/7-74825_best-wallpaper-for-whatsapp.jpg");
    

}

.table-hover {
    background-color: #000000;
    border-radius: 10px;
}

.message-area {
    background-color: #323232;
    min-height: 600px;
    border-radius: 10px;
    
    background-image: url("https://cdn.wallpapersafari.com/87/66/g7uPjL.jpg");
    
    background-size: cover ;
    background-position: top;
}

.message-table-scroll {
    overflow-y: scroll;
    height: 550px;

    color: #2200fd;

}

.message-box {
    background-color: cadetblue;
    opacity: 0.9;
    border-radius: 1.5rem;
    color: #ff0404;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
    
}
#message_input{
    width: 120%;
    font-family:'Times New Roman', Times, serif
}

.btn {
    background-color: #19d668;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 5px;
}

.form-control{
    color: #2200fd;
}

#user_chat-top{
    color: hsl(353, 82%, 15%);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#iconblock_chat-top{
    background-color: rgb(78, 111, 174 );
    border-radius: 1rem;
    /* background-color: #0fbea7; */
}
/* 
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
 */
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
    }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(29, 196, 205); 
    border-radius: 50rem;
    }
  ::-webkit-scrollbar-thumb {
    background: rgb(128, 211, 98); 
    border-radius: 1rem;
    }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(220, 36, 36); 
    }
.chat-top {
    /* background-color: #da831f; */
    background-color: cadetblue;
    min-height: 50px;
    border-radius: 20px;
    

  }
