.back-container {
    position: relative;
}

.back-top {
    background-color: #c00000;
    height: 20vh;
}

.back-main {
    background-color: #000000;
    height: 80vh;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border-radius: 10px;



}

.contacts {
    background-color: #2d2d2d;
    min-height: 600px;
    border-radius: 10px;
}

.contact-table-scroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
    height: 700px;
    background-color: #2d2d2d;
}

.table-hover {
    background-color: #000000;
    border-radius: 10px;
}

.message-area {
    background-color: #323232;
    min-height: 600px;
    border-radius: 10px;

}

.message-table-scroll {
    overflow-y: scroll;
    height: 550px;
}

.message-box {
    background-color: #393939;
    color: #441212;
}

.btn {
    background-color: #a90101;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}
